<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hệ thống quản lý phòng khám Thái Thịnh</title>
    <link rel="shortcut icon" href="{{logoUrl}}">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
          type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.1.99/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/pages/css/login.css">
<link rel="stylesheet" href="styles.d23021fdc843bb2101cc.css"></head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
<div class="spinner-backdrop"></div>
<div class="m-page-loader m-page-loader--non-block" style="margin-left: -80px; margin-top: -20px;">
    <div class="m-blockui">
        <span>
           Đang tải dữ liệu. Vui lòng đợi...
        </span>
        <span>
            <div class="m-loader m-loader--brand">
            </div>
        </span>
    </div>
</div>
<script type="text/javascript" src="runtime.5cc01a30906f3a178cfe.js"></script><script type="text/javascript" src="polyfills.14798470561a0cf08fd7.js"></script><script type="text/javascript" src="scripts.50006639927903af3103.js"></script><script type="text/javascript" src="main.ea8f9f0acce4c811d6ed.js"></script></body>
</html>
