﻿

.login-container {
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: cover;
}

.login-overlay {
    position: fixed;
    top: 0;
    right: 0;
    background: #f9f9fc;
    width: 100%;
    height: 100%;
}

.login-form {
    display: block;
    width: 350px;
    margin: 50px auto;
    background: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    border: 1px solid #ddd;
    padding: 50px 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px #ddd;
}

.logo-wrapper {
    text-align: center;
}

h4.title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0;
    color: #DB504A;
    text-align: center;
}

.form-group.has-error input {
    border: 1px solid #DB504A;
}

input.form-control {
    padding: 1.2rem 1.2rem;
    display: block;
    width: 100%;
    background: #eaeaea;
    border: 1px solid #eaeaea;
    transition: all ease-in-out 300ms;
}

.control-circle {
    border-radius: 40px !important;
}

button.btn-login {
    padding: 0.7rem 0.7rem;
    display: block;
    width: 100%;
    border: none;
    background: #1a8a54;
    color: white;
    text-transform: uppercase;
    transition: all ease-in-out 300ms;
    margin-top: 20px;
}

    button.btn-login :hover {
        background: #157145;
    }

.help-block {
    text-align: center;
    color: red;
}