// BEGIN: Input
md-input-container {
    input {
        margin-top: .5em;
    }

    .mat-input-placeholder-wrapper {
        padding-bottom: 1em;

        label.mat-input-placeholder {
            font-size: 15px;
        }
    }
}

// END: Input

// BEGIN: Checkbox
@mixin nh-mdi-checkbox-size($pixel) {
    .mat-checkbox-inner-container {
        width: $pixel !important;
        height: $pixel !important;
    }
}

md-checkbox {
    &.size-20 {
        @include nh-mdi-checkbox-size(20px);
    }

    &.size-18 {
        @include nh-mdi-checkbox-size(18px);
    }

    .mat-checkbox-inner-container {
        width: 20px;
        height: 20px;
        margin: auto auto auto auto !important;
    }

    .mat-checkbox-label {
        margin-left: 10px;
    }
}

// END: Checkbox
// BEGIN: SlideToggle
mat-slide-toggle {
    .mat-slide-toggle-bar {
        -webkit-border-radius: 8px !important;
        -moz-border-radius: 8px !important;
        border-radius: 8px !important;
    }
    .mat-slide-toggle-thumb {
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        border-radius: 50% !important;
    }
    .mat-slide-toggle-ripple {
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        border-radius: 50% !important;
    }
}

// END: SlideToggle
// BEGIN: Button
.mat-mini-fab {
    width: 35px !important;
    height: 35px !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    overflow: hidden;

    .mat-button-ripple-round {
        border-raidus: 50% !important;
    }

    .mat-button-wrapper {
        padding: 0px !important;
        display: inline-block;
        line-height: 24px;
    }
}

.button-size-30 {
    height: 30px !important;
    width: 30px !important;
    line-height: 30px !important;
}

.mat-checkbox-ripple {
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

// END: Button

// BEGIN: Icon
mat-icon {
    &.size-18 {
        @include nh-size-icon(18px);
    }
    &.size-16 {
        @include nh-size-icon(16px);
    }
    &.size-14 {
        @include nh-size-icon(14px);
    }
}

// END: Icon

// BEGIN: md-radio-logic
.mat-radio-button {
    .mat-radio-outer-circle, .mat-radio-ripple, .mat-radio-inner-circle {
        border-radius: 50% !important;
    }
}

// END: md-radio-logic

// BEGIN: md-raised-logic
button.mat-raised-button {
    min-width: 40px !important;
    line-height: 34px !important;
    margin-top: -1px;
    border-radius: 2px !important;
}

// END: md-raised-logic

.mat-form-field-wrapper {
    padding-bottom: 1.6em !important;
}

table {
    th, td {
        .mat-checkbox-label {
            margin-left: 0 !important;
        }
    }
}

.mat-tab-body-content {
    height: auto !important;
}

.cdk-overlay-container {
    z-index: 9999 !important;
}

mat-dialog-container {
    padding: 0 !important;

    .portlet {
        padding: 0 !important;

        .portlet-title {
            padding: 15px !important;
        }

        .portlet-body {
            overflow-y: auto;
            max-height: 60vh;

            div.form-body {
                padding: 20px !important;
            }
        }
    }
}

.mat-expansion-panel {
    .mat-expansion-panel-header {
        height: 45px !important;
        padding: 0px 15px 0px 7px !important;
        border-radius: 0px !important;
        background: $darkBlue;

        &:hover, &:active, &:focus, &:visited {
            background: $darkBlue !important;

            .title {
                color: white;
            }
        }

        .title {
            font-size: 16px;
            color: white;
            font-weight: 500;
        }

        span.mat-expansion-indicator {
            color: white !important;

            &:after {
                color: white !important;
            }
        }
    }

    .mat-expansion-panel-body {
        padding: 0 10px;
        background-color: #f5f7f7 !important;
    }

    .mat-expansion-body {
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: -16px;
    }
}
