﻿
@using Newtonsoft.Json
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-language" content="vietnamese">
    <title>@(string.IsNullOrEmpty(ViewBag.Title) ? "Phòng khám 125 Thái Thịnh - 20 năm phát triển" : ViewBag.Title)</title>
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" size="48x48" href="/favicons/favicon.ico">
    <link rel="manifest" href="/favicons/manifest.json">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <meta name="keywords" content="@(string.IsNullOrEmpty(ViewBag.Keyword) ? "Công ty cổ phần bệnh viện thái thịnh" : ViewBag.Keyword)">
    <meta name="description" content="@(string.IsNullOrEmpty(ViewBag.Description) ? Html.Raw("Với phương châm &#34;Luôn ân cần – Luôn cố gắng&#34;, trải qua 20 năm hoạt động, Phòng khám là địa chỉ uy tín trong lĩnh vực chăm sóc sức khỏe mà người dân Hà Nội và các tỉnh lân cận &#34;chọn mặt gửi vàng&#34;.") : Html.Raw(ViewBag.Description))" />
    @*<meta property="url" content="@Html.Raw(Request.Url)" />*@
    <meta property="type" content="website" />
    <meta property="title" content="@Html.Raw(ViewBag.Title)" />
    <meta property="description" content="@(string.IsNullOrEmpty(ViewBag.Description) ? Html.Raw("Với phương châm &#34;Luôn ân cần – Luôn cố gắng&#34;, trải qua 20 năm hoạt động, Phòng khám là địa chỉ uy tín trong lĩnh vực chăm sóc sức khỏe mà người dân Hà Nội và các tỉnh lân cận &#34;chọn mặt gửi vàng&#34;.") : Html.Raw(ViewBag.Description))" />
    <meta property="image" content="@(string.IsNullOrEmpty(ViewBag.Image) ? "/assets/images/logo-full-temp.png" : ViewBag.Image)" />
    @*<meta property="og:url" content="@Html.Raw(Request.Url)" />*@
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Html.Raw(ViewBag.Title)" />
    <meta property="og:description" content="@(string.IsNullOrEmpty(ViewBag.Description) ? Html.Raw("Với phương châm &#34;Luôn ân cần – Luôn cố gắng&#34;, trải qua 20 năm hoạt động, Phòng khám là địa chỉ uy tín trong lĩnh vực chăm sóc sức khỏe mà người dân Hà Nội và các tỉnh lân cận &#34;chọn mặt gửi vàng&#34;.") : Html.Raw(ViewBag.Description))" />
    <meta property="og:image" content="@(string.IsNullOrEmpty(ViewBag.Image) ? "/assets/images/logo-full-temp.png" : ViewBag.Image)" />
    <link href="~/assets/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
    @*Css*@
    <link href="~/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/assets/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/owl.carousel/owl-carousel/owl.carousel.css" rel="stylesheet" />
    <link href="~/assets/plugins/owl.carousel/owl-carousel/owl.theme.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/less/main.min.css" rel="stylesheet" />
    <link href="~/Content/less/header.min.css" rel="stylesheet" />

    @*<environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>*@
</head>
<body class="bg_grey">
    <div id="fb-root"></div>
    @Html.AntiForgeryToken()
    @{Html.RenderPartial("_Header");}
    <div class="body-content">
        @RenderBody()
    </div>
    <a href="javascript://" id="backToTop" class="">
        <i class="fa fa-angle-up fa-2x"></i>
    </a>
    <div class="hotline">
        <a href="tel:02438535522" class="content">
            <img src="~/assets/images/Utils/Call-06.png" class="img-responsive" alt="" />
        </a>
    </div>
    @{Html.RenderPartial("_Footer");}
    @*<environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>*@
    @*Script*@
    <script src="~/assets/plugins/jquery/jquery-1.10.2.min.js"></script>
    <script src="~/assets/plugins/knockout/knockout-latest.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    @*/bundles/app*@
    <script src="~/Scripts/jquery.lazy-master/jquery.lazy.min.js"></script>
    <script src="~/built/app.js"></script>
    <script>
        @*var currentPatient = @Html.Raw(JsonConvert.SerializeObject(CurrentPatient, Common.GetCalmcaseSetting()));*@
        var currentPatient = "";
    </script>
    <script src="~/Scripts/player/jwplayer.js"></script>
    <script type="text/javascript">jwplayer.key = "5qMQ1qMprX8KZ79H695ZPnH4X4zDHiI0rCXt1g==";</script>
    @RenderSection("knockout", required: false)
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110941107-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-110941107-1');
    </script>
    <div id="fb-root"></div>
    @RenderSection("Scripts", required: false)
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.11&appId=432544803543466';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <script type='text/javascript'>window._sbzq || function (e) { e._sbzq = []; var t = e._sbzq; t.push(["_setAccount", 16418]); var n = e.location.protocol == "https:" ? "https:" : "http:"; var r = document.createElement("script"); r.type = "text/javascript"; r.async = true; r.src = n + "//static.subiz.com/public/js/loader.js"; var i = document.getElementsByTagName("script")[0]; i.parentNode.insertBefore(r, i) }(window);</script>
</body>
</html>
