﻿@using Clinic.Business
@using Clinic.DataAccess
@using System.Configuration
@{
    var breadcrumbs = ViewBag.Breadcrumb as List<Breadcrumb>;
    var current = breadcrumbs.FirstOrDefault(x => x.IsCurrent);
    var categoryInfo = ViewBag.Category as Category;
    var adminUrl = ConfigurationManager.AppSettings["adminUrl"];
}
<div class="header" style="background-image: @string.Format("url({0}{1})", adminUrl, categoryInfo != null && !string.IsNullOrEmpty(categoryInfo.ImageUrl) ? categoryInfo.ImageUrl : "/assets/images/19.jpg")">
    <div class="breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="title">@string.Format("{0}", current != null ? current.Name : "")</h4>
                    <ul class="">
                        <li>
                            <a href="/">Trang chủ</a>
                        </li>
                        @if (breadcrumbs != null && breadcrumbs.Any())
                        {
                            foreach (var item in breadcrumbs)
                            {
                                <li>
                                    <i class="fa fa-long-arrow-right color-red"></i>
                                    @if (item.IsCurrent)
                                    {
                                        <span>@item.Name</span>
                                    }
                                    else
                                    {
                                        <a href="/@string.Format("{0}", string.IsNullOrEmpty(item.Url) ? item.NamePath : item.Url)">@item.Name</a>
                                    }                                    
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>