﻿@using Clinic.Utils
@using Newtonsoft.Json
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-language" content="vietnamese">
    <title>@(string.IsNullOrEmpty(ViewBag.Title) ? "Phòng khám 125 Thái Thịnh - 20 năm phát triển" : ViewBag.Title)</title>

    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" size="48x48" href="/favicons/favicon.ico">
    <link rel="manifest" href="/favicons/manifest.json">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <meta name="keywords" content="@(string.IsNullOrEmpty(ViewBag.Keyword) ? "Công ty cổ phần bệnh viện thái thịnh" : ViewBag.Keyword)">
    <meta name="description" content="@(string.IsNullOrEmpty(ViewBag.Description) ? Html.Raw("Với phương châm &#34;Luôn ân cần – Luôn cố gắng&#34;, trải qua 20 năm hoạt động, Phòng khám là địa chỉ uy tín trong lĩnh vực chăm sóc sức khỏe mà người dân Hà Nội và các tỉnh lân cận &#34;chọn mặt gửi vàng&#34;.") : Html.Raw(ViewBag.Description))" />
    <meta property="url" content="@Html.Raw(Request.Url)" />
    <meta property="type" content="website" />
    <meta property="title" content="@Html.Raw(ViewBag.Title)" />
    <meta property="description" content="@(string.IsNullOrEmpty(ViewBag.Description) ? Html.Raw("Với phương châm &#34;Luôn ân cần – Luôn cố gắng&#34;, trải qua 20 năm hoạt động, Phòng khám là địa chỉ uy tín trong lĩnh vực chăm sóc sức khỏe mà người dân Hà Nội và các tỉnh lân cận &#34;chọn mặt gửi vàng&#34;.") : Html.Raw(ViewBag.Description))" />
    <meta property="image" content="@(string.IsNullOrEmpty(ViewBag.Image) ? "/assets/images/logo-full-temp.png" : ViewBag.Image)" />
    <meta property="og:url" content="@Html.Raw(Request.Url)" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Html.Raw(ViewBag.Title)" />
    <meta property="og:description" content="@(string.IsNullOrEmpty(ViewBag.Description) ? Html.Raw("Với phương châm &#34;Luôn ân cần – Luôn cố gắng&#34;, trải qua 20 năm hoạt động, Phòng khám là địa chỉ uy tín trong lĩnh vực chăm sóc sức khỏe mà người dân Hà Nội và các tỉnh lân cận &#34;chọn mặt gửi vàng&#34;.") : Html.Raw(ViewBag.Description))" />
    <meta property="og:image" content="@(string.IsNullOrEmpty(ViewBag.Image) ? "/assets/images/logo-full-temp.png" : ViewBag.Image)" />
    @Styles.Render("~/Content/css")
</head>
<body class="bg_grey">
    <div id="fb-root"></div>
    @Html.AntiForgeryToken()
    @{Html.RenderPartial("_Header");}
    <!--<div class="container body-content">-->
    <div class="body-content">
        @RenderBody()
    </div>
    <a href="javascript://" id="backToTop" class="">
        <i class="fa fa-angle-up fa-2x"></i>
    </a>

    <div class="hotline">
        <a href="tel:02438535522" class="content">
            <img src="~/assets/images/Utils/Call-06.png" class="img-responsive" alt="" />
        </a>
    </div>
    @*<script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.8&appId=432544803543466";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>*@
    @*<script type='text/javascript'>window._sbzq || function (e) { e._sbzq = []; var t = e._sbzq; t.push(["_setAccount", 16418]); var n = e.location.protocol == "https:" ? "https:" : "http:"; var r = document.createElement("script"); r.type = "text/javascript"; r.async = true; r.src = n + "//static.subiz.com/public/js/loader.js"; var i = document.getElementsByTagName("script")[0]; i.parentNode.insertBefore(r, i) }(window);</script>*@
    @{Html.RenderPartial("_Footer");}

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
    @*<script type="text/javascript" data-main="/Scripts/config/require-config" src="~/assets/plugins/require/require.js"></script>*@

    <script>
        var currentPatient = @Html.Raw(JsonConvert.SerializeObject(CurrentPatient, Common.GetCalmcaseSetting()));
    </script>
    <script type="text/javascript" src="~/Scripts/player/jwplayer.js"></script>
    <script type="text/javascript">jwplayer.key = "5qMQ1qMprX8KZ79H695ZPnH4X4zDHiI0rCXt1g==";</script>
    @RenderSection("knockout", required: false)

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110941107-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-110941107-1');
    </script>
    <div id="fb-root"></div>
    <script>
(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.11&appId=432544803543466';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <script type='text/javascript'>window._sbzq || function (e) { e._sbzq = []; var t = e._sbzq; t.push(["_setAccount", 16418]); var n = e.location.protocol == "https:" ? "https:" : "http:"; var r = document.createElement("script"); r.type = "text/javascript"; r.async = true; r.src = n + "//static.subiz.com/public/js/loader.js"; var i = document.getElementsByTagName("script")[0]; i.parentNode.insertBefore(r, i) }(window);</script>
</body>
</html>
