﻿@using Clinic.Utils
@using Newtonsoft.Json
@model List<Clinic.Business.Complex.BaoCaoBenhNhanChoKhamResult>

@{
    ViewBag.Title = "Danh sách bệnh nhân chờ khám";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
    //var backgroundArray = new[] { "/assets/images/chokham/Xmas2017-02.jpg", "/assets/images/chokham/Xmas2017-03.jpg" };
    //Random rand = new Random();
    //var background = backgroundArray[rand.Next(0, 2)];

}

<link href="~/Content/less/waiting.min.css" rel="stylesheet" />

<div class="wrapper-waiting-page">
    <div class="background"></div>
    <div id="wrapper-video">
        <video id="ads-video" autoplay="">
            <source src="~/assets/files/VideoSotXuatHuyet_1.mp4" type="video/mp4">
        </video>
    </div>
    <div class="row">
        <div id="wrapper-content">
            <div class="col-sm-7">
                <div class="wrapper-vericle-slider" id="mainSlider" style="height: 10000px">
                    <div class="wrapper-slider-content cm-mgt-20" data-bind="foreach: listRoom, visible: listRoom().length > 0" style="display: none">
                        <div class="slider-item">
                            <div class="header">
                                <div class="wrapper-header-content">
                                    <img class="logo" src="~/assets/images/logo.png" alt="" />
                                    <span class="room-name uppercase" data-bind="text: name === '401' ? 'Trả kết quả xét nghiệm' : 'phòng ' + name"></span>
                                </div>
                            </div>
                            <table class="table table-bordered table-stripped">
                                <thead>
                                    <tr>
                                        <th class="text-center has-background">STT</th>
                                        <th class="text-center has-background">Tên bệnh nhân</th>
                                        <th class="text-center has-background">Tình trạng</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: listPatient">
                                    <tr>
                                        <td class="text-center has-background bold" data-bind="text: stt"></td>
                                        <td class="bold">
                                            <span data-bind="text: hoTenBenhNhan"></span>
                                            <!-- ko if: gioDatHen != '' && gioDatHen !== undefined -->
                                            <span data-bind="text:'('+gioDatHen+')'"></span>
                                            <!-- /ko -->
                                        </td>
                                        <td class="text-center bold" data-bind="attr: {class: trangThai() === 1 ? 'color-red text-center bold' : 'text-center bold'}">
                                            <!-- ko if: trangThai() === 0 -->
                                            Chờ khám
                                            <!--/ko-->
                                            <!-- ko if: trangThai() === 1 -->
                                            Đang khám
                                            <!--/ko-->
                                            <!-- ko if: trangThai() === 2 -->
                                            Đã khám
                                            <!--/ko-->
                                            <!-- ko if: trangThai() === 3 -->
                                            Hoàn tất
                                            <!--/ko-->
                                            <!-- ko if: trangThai() === 4 -->
                                            Đặt hẹn
                                            <!--/ko-->
                                            <!-- ko if: trangThai() === 5 -->
                                            Đã có kết quả
                                            <!--/ko-->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- end .slider-item -->
                    </div>
                    <div class="cm-mgt-20 wrapper-background-image">
                        <img src="~/assets/images/chokham/711x625-06.jpg" class="img-responsive" alt="" />
                    </div>
                </div><!-- end .wrapper-verticle-slider -->
            </div><!-- end col-sm-6 -->
            <div class="col-sm-5">
                <div id="ads-slider" class="carousel slide cm-mgt-20" data-ride="carousel" data-interval="60000">
                    <!-- Indicators -->
                    @*<ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                    </ol>*@
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/assets/images/chokham/Banner man hinh cho.jpg" alt="Kham thai">
                            <div class="carousel-caption">
                                ...
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/assets/images/chokham/760x950pxls-01.jpg" alt="Kham thai">
                            <div class="carousel-caption">
                                ...
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/assets/images/chokham/760x950pxls-02.jpg" alt="Sa thai">
                            <div class="carousel-caption">
                                ...
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/assets/images/chokham/760x950pxls-03.jpg" alt="Sa thai">
                            <div class="carousel-caption">
                                ...
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/assets/images/chokham/760x950pxls-04.jpg" alt="Sa thai">
                            <div class="carousel-caption">
                                ...
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/assets/images/chokham/760x950pxls-05.jpg" alt="Sa thai">
                            <div class="carousel-caption">
                                ...
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/assets/images/chokham/760x950pxls-06.jpg" alt="Sa thai">
                            <div class="carousel-caption">
                                ...
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    @*<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>*@
                </div>
            </div>
        </div>
        @if (ViewBag.Floor == 4 || ViewBag.Floor == 5)
        {
            <div class="note-container">
                <marquee>"Quý khách đăng ký dịch vụ khám sản phụ khoa vui lòng xếp phiếu vào phòng và chờ được gọi tên. Trân trọng cảm ơn!"</marquee>
            </div>
        }
    </div>
    @*@if (ViewBag.Floor == 3)
        {
            <audio autoplay loop>
                <source src="~/assets/files/Album nhac/ALoveForLife-HoaTau-3089183.mp3" type="audio/mp3">
            </audio>
        }*@
</div>

@section knockout{
    <script>

        var listPatient = @Html.Raw(JsonConvert.SerializeObject(Model, Common.GetCalmcaseSetting()));
        var floor = @ViewBag.Floor;
        var area = @ViewBag.Area;
    </script>
    @Scripts.Render("~/bundles/waiting")
}

