﻿@{
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/player.css" />

<div class="container">
    <div class="column center">
        <h1>HTML5 Audio Player</h1>
        <h6>w/ responsive playlist</h6>
    </div>
    <div class="column add-bottom">
        <div id="mainwrap">
            <div id="nowPlay">
                <span class="left" id="npAction">Paused...</span>
                <span class="right" id="npTitle"></span>
            </div>
            <div id="audiowrap">
                <div id="audio0">
                    <audio preload autoplay="true" id="audio1" controls="controls">Your browser does not support HTML5 Audio!</audio>
                </div>
                <div id="tracks">
                    <a id="btnPrev">&laquo;</a>
                    <a id="btnNext">&raquo;</a>
                </div>
            </div>
            <div id="plwrap">
                <ul id="plList">
                    <li>
                        <div class="plItem">
                            <div class="plNum">01.</div>
                            <div class="plTitle">ALoveForLife-HoaTau-3089183</div>
                            <div class="plLength">2:46</div>
                        </div>
                    </li>
                    <li>
                        <div class="plItem">
                            <div class="plNum">02.</div>
                            <div class="plTitle">CanoninDpiano-Yanni-Yanni_3za6</div>
                            <div class="plLength">8:31</div>
                        </div>
                    </li>
                    <li>
                        <div class="plItem">
                            <div class="plNum">03.</div>
                            <div class="plTitle">FallingThroughTheRain-OmarAkram_3zaqh_hq</div>
                            <div class="plLength">5:02</div>
                        </div>
                    </li>
                    <li>
                        <div class="plItem">
                            <div class="plNum">04.</div>
                            <div class="plTitle">FreeAsABird-OmarAkram_3zaqd_hq</div>
                            <div class="plLength">8:32</div>
                        </div>
                    </li>
                    <li>
                        <div class="plItem">
                            <div class="plNum">05.</div>
                            <div class="plTitle">MorningRain-OmarAkram_3zap7</div>
                            <div class="plLength">5:05</div>
                        </div>
                    </li>
                    <li>
                        <div class="plItem">
                            <div class="plNum">06.</div>
                            <div class="plTitle">OpalFire-OmarAkram_3zapp</div>
                            <div class="plLength">2:49</div>
                        </div>
                    </li>
                    <li>
                        <div class="plItem">
                            <div class="plNum">07.</div>
                            <div class="plTitle">PassageOfTheHeart-OmarAkram_3zapx</div>
                            <div class="plLength">5:45</div>
                        </div>
                    </li>
                    <li>
                        <div class="plItem">
                            <div class="plNum">08.</div>
                            <div class="plTitle">The Rain Must Fall - Yanni</div>
                            <div class="plLength">5:27</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="column add-bottom center">
        @*<p>Created by <a href="http://www.markhillard.com/">mh</a>. Music by <a href="http://www.mythium.net/">Mythium</a>.</p>
        <p>Download: <a href="https://archive.org/download/mythium/mythium_vbr_mp3.zip">zip</a> / <a href="https://archive.org/download/mythium/mythium_archive.torrent">torrent</a></p>*@
    </div>
</div>

@section knockout
{
    <script>
        var b = document.documentElement;
        b.setAttribute('data-useragent', navigator.userAgent);
        b.setAttribute('data-platform', navigator.platform);


        // HTML5 audio player + playlist controls...
        // Inspiration: http://jonhall.info/how_to/create_a_playlist_for_html5_audio
        // Mythium Archive: https://archive.org/details/mythium/
        $(function () {
            var supportsAudio = !!document.createElement('audio').canPlayType;
            if (supportsAudio) {
                var index = 0,
                    playing = false,
                    mediaPath = '/assets/files/Album nhac/',
                    extension = '',
                    tracks = [{
                        "track": 1,
                        "name": "ALoveForLife-HoaTau-3089183",
                        "length": "02:46",
                        "file": "ALoveForLife-HoaTau-3089183"
                    },
                    {
                        "track": 2,
                        "name": "CanoninDpiano-Yanni-Yanni_3za6",
                        "length": "02:46",
                        "file": "CanoninDpiano-Yanni-Yanni_3za6"
                    },
                    {
                        "track": 3,
                        "name": "FallingThroughTheRain-OmarAkram_3zaqh_hq",
                        "length": "02:46",
                        "file": "FallingThroughTheRain-OmarAkram_3zaqh_hq"
                    },
                    {
                        "track": 4,
                        "name": "FreeAsABird-OmarAkram_3zaqd_hq",
                        "length": "02:46",
                        "file": "FreeAsABird-OmarAkram_3zaqd_hq"
                    },
                    {
                        "track": 5,
                        "name": "MorningRain-OmarAkram_3zap7",
                        "length": "02:46",
                        "file": "MorningRain-OmarAkram_3zap7"
                    },
                    {
                        "track": 6,
                        "name": "OpalFire-OmarAkram_3zapp",
                        "length": "02:46",
                        "file": "OpalFire-OmarAkram_3zapp"
                    },
                    {
                        "track": 7,
                        "name": "PassageOfTheHeart-OmarAkram_3zapx",
                        "length": "02:46",
                        "file": "PassageOfTheHeart-OmarAkram_3zapx"
                    },
                    {
                        "track": 8,
                        "name": "The Rain Must Fall - Yanni",
                        "length": "02:46",
                        "file": "The Rain Must Fall - Yanni"
                    }],
                    trackCount = tracks.length,
                    npAction = $('#npAction'),
                    npTitle = $('#npTitle'),
                    audio = $('#audio1').bind('play', function () {
                        playing = true;
                        npAction.text('Now Playing...');
                    }).bind('pause', function () {
                        playing = false;
                        npAction.text('Paused...');
                    }).bind('ended', function () {
                        npAction.text('Paused...');
                        if ((index + 1) < trackCount) {
                            index++;
                            loadTrack(index);
                            audio.play();
                        } else {
                            audio.pause();
                            index = 0;
                            loadTrack(index);
                        }
                    }).get(0),
                    btnPrev = $('#btnPrev').click(function () {
                        if ((index - 1) > -1) {
                            index--;
                            loadTrack(index);
                            if (playing) {
                                audio.play();
                            }
                        } else {
                            audio.pause();
                            index = 0;
                            loadTrack(index);
                        }
                    }),
                    btnNext = $('#btnNext').click(function () {
                        if ((index + 1) < trackCount) {
                            index++;
                            loadTrack(index);
                            if (playing) {
                                audio.play();
                            }
                        } else {
                            audio.pause();
                            index = 0;
                            loadTrack(index);
                        }
                    }),
                    li = $('#plList li').click(function () {
                        var id = parseInt($(this).index());
                        if (id !== index) {
                            playTrack(id);
                        }
                    }),
                    loadTrack = function (id) {
                        $('.plSel').removeClass('plSel');
                        $('#plList li:eq(' + id + ')').addClass('plSel');
                        npTitle.text(tracks[id].name);
                        index = id;
                        audio.src = mediaPath + tracks[id].file + extension;
                    },
                    playTrack = function (id) {
                        loadTrack(id);
                        audio.play();
                    };
                extension = audio.canPlayType('audio/mpeg') ? '.mp3' : audio.canPlayType('audio/ogg') ? '.ogg' : '';
                loadTrack(index);
            }
        });
    </script>
}
