﻿@{
    ViewBag.Title = "Thông tin cá nhân";
}

<div class="container bg-white">
    <div class="row">
        <div class="col-sm-3 center">
            <img class="lazy" data-src="~/assets/images/no-image.png?width=250&height=250&mode=crop" alt="" />
            <button type="button" class="btn btn-primary">
                Thay đổi ảnh đại diện
            </button>
        </div>
        <div class="col-sm-9 cm-mgt-20">
            <div class="alert alert-warning" data-bind="visible: isUpdated()" style="display: none;">
                <b>Thông báo:</b>
                Thông tin tài khoản của bạn đã được thay đổi. Vui lòng <a href="/dang-nhap-lai">đăng nhập lại</a> để có hiệu lực.
            </div>
            <div class="form-horizontal">
                <h4 class="title-border">@Resources.Display_MyInfo</h4>
                <div class="line"></div>
                <div class="form-group">
                    <label class="col-md-3">
                        <i class="fa fa-user"></i>
                        @Resources.Label_FullName
                    </label>
                    <div class="col-md-9">
                        @CurrentPatient.HoTenBenhNhan
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3">
                        <i class="fa fa-calendar-o"></i>
                        @Resources.Label_DateOfBirth
                    </label>
                    <div class="col-md-9">
                        @string.Format("{0}", CurrentPatient.NgayThangNamSinh.HasValue ? CurrentPatient.NgayThangNamSinh.Value.ToString("dd/MM/yyyy") : "")
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3">
                        <i class="fa fa-map-marker"></i>
                        @Resources.Label_Adress
                    </label>
                    <div class="col-md-9">
                        @CurrentPatient.DiaChi
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3">
                        <i class="fa fa-phone"></i>
                        @Resources.Label_PhoneNumber
                    </label>
                    <div class="col-md-9">
                        @CurrentPatient.SoDienThoai
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3">
                        <i class="fa fa-envelope-o"></i>
                        @Resources.Label_Email
                    </label>
                    <div class="col-md-9">
                        @string.Format("{0}", string.IsNullOrEmpty(CurrentPatient.Email) ? Resources.Message_HaveNo_Email_Address : CurrentPatient.Email)
                    </div>
                </div>
                <h4 class="title-border">@Resources.Title_Account_Infomation</h4>
                <div class="line"></div>
                <div class="form-group">
                    <label class="col-md-3">
                        <i class="fa fa-user"></i>
                        @Resources.Label_PatientId
                    </label>
                    <div class="col-md-9">
                        @CurrentPatient.MaBenhNhan
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3">
                        <i class="fa fa-key"></i>
                        @Resources.Label_Password
                    </label>
                    <div class="col-md-9">
                        *************
                        <button class="btn btn-primary btn-sm pull-right" data-bind="click: $root.editAccount">
                            <i class="fa fa-pencil"></i>
                            @Resources.Button_Edit
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3">
                        <i class="fa fa-user"></i>
                        @Resources.Label_UserName
                    </label>
                    <div class="col-md-9">
                        @CurrentPatient.UserName
                        @if (CurrentPatient.UserName.Equals(CurrentPatient.MaBenhNhan))
                        {
                            <button class="btn btn-primary btn-sm pull-right" data-bind="click: $root.editAccount">
                                <i class="fa fa-pencil"></i>
                                @Resources.Button_Edit
                            </button>
                        }
                    </div>
                </div>
            </div>
        </div><!-- end #profile -->
    </div>
</div><!-- end .container -->

<div class="modal fade" id="changeAccountModal" tabindex="-1" role="dialog" aria-labelledby="changeAccountModal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="changeAccountModal-label">
                    <i class="fa fa-user"></i>
                    @Resources.Title_Change_Account_Infomation
                </h4>
            </div>
            <form class="form-horizontal" data-bind="submit: save">
                <div class="modal-body">
                    <div class="form-group" data-bind="attr: {class: userNameError() ? 'form-group has-error' : 'form-group'}">
                        <label class="col-sm-4 control-label">@Resources.Label_UserName <span class="color-red">*</span></label>
                        <div class="col-sm-8">
                            @if (CurrentPatient.UserName.Equals(CurrentPatient.MaBenhNhan))
                            {
                                <input type="text" class="form-control w100pc" placeholder="@Resources.Placeholder_New_UserName" data-bind="value: username, hasFocus: userNameFocus" />
                            }
                            else
                            {
                                <div class="form-control w100pc disabled">@CurrentPatient.UserName</div>
                            }
                        </div>
                    </div>
                    <div class="form-group" data-bind="attr: {class: oldPasswordError() ? 'form-group has-error' : 'form-group'}">
                        <label class="col-sm-4 control-label">@Resources.Label_OldPassword <span class="color-red">*</span></label>
                        <div class="col-sm-8">
                            <input type="password" autocomplete="off" class="form-control w100pc" placeholder="@Resources.PlaceHolder_Old_Password" data-bind="value: oldPassword, hasFocus: oldPasswordFocus" value="" />
                        </div>
                    </div>
                    <div class="form-group" data-bind="attr: {class: passwordError() ? 'form-group has-error' : 'form-group'}">
                        <label class="col-sm-4 control-label">@Resources.Label_NewsPassword</label>
                        <div class="col-sm-8">
                            <input type="password" autocomplete="off" class="form-control w100pc" placeholder="@Resources.PlaceHolder_New_Password" data-bind="value: password, hasFocus: passwordFocus" value="" />
                        </div>
                    </div>
                    <div class="form-group" data-bind="attr: {class: repasswordError() ? 'form-group has-error' : 'form-group'}">
                        <label class="col-sm-4 control-label">@Resources.Label_RetypePassword</label>
                        <div class="col-sm-8">
                            <input type="password" autocomplete="off" class="form-control w100pc" placeholder="@Resources.Placeholder_Retype_UserName" data-bind="value: repassword, hasFocus: repasswordFocus" value="" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-bind="enable: !isSaving()">
                        <i class="fa fa-save" data-bind="visible: !isSaving()"></i>
                        <i class="fa fa-spinner fa-pulse" data-bind="visible: isSaving()"></i>
                        @Resources.Button_Save
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                        @Resources.Button_Close
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section knockout{
    <script>
        var userName = '@CurrentPatient.UserName';
    </script>
    @Scripts.Render("~/bundles/MyInfo")
}
