﻿@{
    ViewBag.Title = "Đặt hẹn trực tuyến";
}

@*@Styles.Render("~/Content/appointmentschedule")*@
<link href="~/assets/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
<link href="~/assets/plugins/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

<div id="wrapperAppointmentSchedule" class="bg-white">
    @*@if (CurrentPatient != null)
    {
        <a href="javascript://" title="Dịch vụ bạn đã đặt" class="button-shopping" data-bind="click: showMyService">
            <i class="fa fa-shopping-basket fa-2x"></i>
        </a>
    }*@
    <div class="row">
        <div class="col-sm-12">
            <h4 class="star-title">Đặt hẹn trực tuyến</h4>
            <div class="star-title-decoration">
                <i class="fa fa-star-o"></i>
            </div>
        </div>
    </div>
    <div class="row cm-mgb-20">
        <div class="col-sm-12 cm-mgb-20">
            <div class="form-inline text-right">
                <div class="form-group">
                    <div class="bold">Vui lòng chọn dịch vụ:</div>
                </div>
                <div class="form-group">
                    <select class="form-control" data-bind="options: listServiceSearch, optionsValue: 'serviceId', optionsText: 'serviceName', value: serviceId, optionsCaption: '-- Chọn dịch vụ --', enable: !isSearching()"></select>
                </div>
                <div class="form-group">
                    <select class="form-control" data-bind="options: listDoctorSearch, optionsValue: 'doctorId', optionsText: 'doctorName', value: doctorId, optionsCaption: '-- Chọn bác sỹ --', enable: !isSearching()"></select>
                </div>
                <div class="form-group">
                    <button data-bind="click: submitSearch, enable: !isSearching()" class="btn btn-primary">
                        <i class="fa fa-spinner fa-pulse" data-bind="visible: isSearching"></i>
                        <i class="fa fa-search" data-bind="visible: !isSearching()" style="display: none;"></i>
                        <span>Tìm kiếm</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row cm-mgb-20">
        <div class="col-sm-12">
            <h4 class="uppercase main-text-color bold">QUY ĐỊNH ĐẶT HẸN TRÊN WEBSITE</h4>
            <p>
                1. Đối tượng : Khách hàng <b data-bind="visible: serviceId() !== 'DV0652'">khám thai và siêu âm thai</b>
                <b data-bind="visible: serviceId() === 'DV0652'" style="display: none">khám nhi</b>
                tại phòng khám
            </p>
            <p>2. Thời gian đặt hẹn: Sáng từ 8h00 – 11h30, chiều từ 13h30 -16h30, tối từ 17h - 18h tất cả các ngày trong tuần<span data-bind="visible: serviceId() !== 'DV0652'">&nbsp;trừ sáng thứ 7 và sáng Chủ Nhật</span>.</p>
            <p>3. Nhân viên nhận đặt hẹn từ 7h30 – 17h30. Nhận đặt trước 48h và ít nhất 60’ trước khi đến khám.</p>
            <p>4. Khách hàng cần đảm bảo tới đúng giờ hẹn. Nếu quá hẹn 15’ lịch hẹn sẽ tự động hủy và khách hàng sẽ đăng kí lại dịch vụ tại quầy Lễ tân.</p>
            <p>5. Lịch làm việc của Bác sĩ có thể thay đổi và nhân viên CSKH sẽ gọi điện thông báo.</p>
            <p>
                6. Khi đến khám, vui lòng thông báo với Lễ tân rằng bạn đã có hẹn trước và vui lòng thông báo lại khi bạn không thể tới đúng hẹn. (SĐT liên hệ: 043 853 5522 / 0972 88 1125 hoặc Chat trực tuyến trên trang chủ website: <a href="http://thaithinhmedic.com">thaithinhmedic.com</a>)
            </p>
            <p>
                <b>Lưu ý</b>: Trường hợp một Khách hàng đặt song song hai dịch vụ (khám thai và siêu âm thai) trong cùng một ngày bắt buộc phải chọn hai khung giờ khám khác nhau.
            </p>
            Xin cảm ơn!
        </div>
    </div>
    <div class="row cm-mgb-20">
        <div class="col-sm-12" data-bind="visible: serviceId() !== '' && serviceId() !== undefined" style="display: none;">
            <div id="calendar"></div>
        </div>
    </div>
    <div class="row cm-mgb-20">
        <div class="col-sm-12">
            <div class="form-inline text-right">
                <div class="form-group">
                    <div class="bold">Vui lòng chọn dịch vụ:</div>
                </div>
                <div class="form-group">
                    <select class="form-control" data-bind="options: listServiceSearch, optionsValue: 'serviceId', optionsText: 'serviceName', value: serviceId, optionsCaption: '-- Chọn dịch vụ --', enable: !isSearching()"></select>
                </div>
                <div class="form-group">
                    <select class="form-control" data-bind="options: listDoctorSearch, optionsValue: 'doctorId', optionsText: 'doctorName', value: doctorId, optionsCaption: '-- Chọn bác sỹ --', enable: !isSearching()"></select>
                </div>
                <div class="form-group">
                    <button data-bind="click: submitSearch, enable: !isSearching()" class="btn btn-primary">
                        <i class="fa fa-spinner fa-pulse" data-bind="visible: isSearching"></i>
                        <i class="fa fa-search" data-bind="visible: !isSearching()" style="display: none;"></i>
                        <span>Tìm kiếm</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-12" data-bind="visible: serviceId() !== '' && serviceId() !== undefined" style="display:none;">
            <div id="calendar"></div>
        </div>
    </div>
    <div class="modal fade" id="appointmentScheduleModal" tabindex="-1" role="dialog" aria-labelledby="appointmentScheduleModal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title main-text-color" id="appointmentScheduleModal-label">Đặt hẹn online</h4>
                </div>
                <form class="form-horizontal" data-bind="submit: save">
                    <div class="modal-body">
                        <h4 class="title-border">Thông tin lịch hẹn</h4>
                        <div class="line"></div>
                        <div class="form-group">
                            <label class="col-sm-4">Ngày khám (<span class="color-red">*</span>)</label>
                            <div class="col-sm-8">
                                <select class="form-control" data-bind="options: listDate, value: appointment().selectedDate"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4">Giờ khám (<span class="color-red">*</span>)</label>
                            <div class="col-sm-8">
                                <div class="btn-group btn-dropdown-nested">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span data-bind="text: appointment().hours"></span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <span class="bold">Ca sáng</span>
                                            <ul>
                                                <li><a href="javascript://" data-bind="click: changeTime.bind($data, '08:00')">08:00</a></li>
                                                <li><a href="javascript://" data-bind="click: changeTime.bind($data, '08:30')">08:30</a></li>
                                                <li><a href="javascript://" data-bind="click: changeTime.bind($data, '09:00')">09:00</a></li>
                                                <li><a href="javascript://" data-bind="click: changeTime.bind($data, '09:30')">09:30</a></li>
                                                <li><a href="javascript://" data-bind="click: changeTime.bind($data, '10:00')">10:00</a></li>
                                                <li><a href="javascript://" data-bind="click: changeTime.bind($data, '10:30')">10:30</a></li>
                                                <li><a href="javascript://" data-bind="click: changeTime.bind($data, '11:00')">11:00</a></li>
                                                <li><a href="javascript://" data-bind="click: changeTime.bind($data, '11:30')">11:30</a></li>
                                            </ul>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <span class="bold">
                                                Ca chiều
                                            </span>
                                            <ul>
                                                <li><a href="javascript://" data-bind="click: changeTime.bind($data, '13:30')">13:30</a></li>
                                                <li><a href="javascript://" data-bind="click: changeTime.bind($data, '14:00')">14:00</a></li>
                                                <li><a href="javascript://" data-bind="click: changeTime.bind($data, '14:30')">14:30</a></li>
                                                <li><a href="javascript://" data-bind="click: changeTime.bind($data, '15:00')">15:00</a></li>
                                                <li><a href="javascript://" data-bind="click: changeTime.bind($data, '15:30')">15:30</a></li>
                                                <li><a href="javascript://" data-bind="click: changeTime.bind($data, '16:00')">16:00</a></li>
                                                <li><a href="javascript://" data-bind="click: changeTime.bind($data, '16:30')">16:30</a></li>
                                            </ul>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <span class="bold">
                                                Ca tối
                                            </span>
                                            <ul>
                                                <li><a href="javascript://" data-bind="click: changeTime.bind($data, '17:30')">17:30</a></li>
                                                <li><a href="javascript://" data-bind="click: changeTime.bind($data, '18:00')">18:00</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" data-bind="attr: {class: isServiceError() ? 'form-group has-error' : 'form-group'}">
                            <label class="col-sm-4">Dịch vụ (<span class="color-red">*</span>)</label>
                            <div class="col-sm-8">
                                <select class="form-control" data-bind="options: listService, optionsValue: 'serviceId', optionsText: 'serviceName', optionsCaption: '-- Chọn dịch vụ --', value: appointment().serviceId, hasFocus: serviceFocus"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4">Bác sỹ</label>
                            <div class="col-sm-8">
                                <select class="form-control" data-bind="options: listDoctor, optionsValue: 'doctorId', optionsText: 'doctorName', optionsCaption: '-- Chọn bác sỹ --', value: appointment().doctorId"></select>
                            </div>
                        </div>
                        <h4 class="title-border">Thông tin khách hàng</h4>
                        <div class="line"></div>
                        <div class="form-group" data-bind="attr: {class: isNameError() ? 'form-group has-error' : 'form-group'}">
                            <label class="col-sm-4">Họ tên (<span class="color-red">*</span>)</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" data-bind="value: appointment().fullName, hasFocus: nameFocus" value="" />
                            </div>
                        </div>
                        <div class="form-group" data-bind="attr: {class: isBirthdayError() ? 'form-group has-error' : 'form-group'}">
                            <label class="col-sm-4">Ngày sinh (<span class="color-red">*</span>)</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" data-bind="dateTimePicker: appointment().birthday, hasFocus: birthdayFocus" value="" />
                            </div>
                        </div>
                        <div class="form-group" data-bind="attr: {class: isPhoneNumberError() ? 'form-group has-error' : 'form-group'}">
                            <label class="col-sm-4">Điện thoại (<span class="color-red">*</span>)</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="" data-bind="value: appointment().phoneNumber, hasFocus: phoneNumberFocus" />
                            </div>
                        </div>
                        <div class="form-group" data-bind="attr: {class: isEmailError() ? 'form-group has-error' : 'form-group'}">
                            <label class="col-sm-4">Email</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="" data-bind="value: appointment().email, hasFocus: emailFocus" />
                            </div>
                        </div>
                        <div class="form-group" data-bind="attr: {class: isAddressError() ? 'form-group has-error' : 'form-group'}">
                            <label class="col-sm-4">Địa chỉ (<span class="color-red">*</span>)</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="" data-bind="value: appointment().address, hasFocus: addressFocus" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4">Ghi Chú</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" rows="5" data-bind="value: appointment().note"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" data-bind="enable: !isSaving()">
                            <i class="fa fa-pulse fa-spinner" data-bind="visible: isSaving"></i>
                            Đặt hẹn
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="enable: !isSaving()">Huỷ bỏ</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myServiceModal" tabindex="-1" role="dialog" aria-labelledby="myServiceModal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myServiceModal-label">
                        <i class="fa fa-shopping-basket"></i>
                        Dịch vụ bạn đã đặt
                    </h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-stripped table-hover">
                        <thead>
                            <tr>
                                <th class="center w50">STT</th>
                                <th class="center">Tên dịch vụ</th>
                                <th class="center">Tên bác sỹ</th>
                                <th class="center">Thời gian</th>                                
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: listMyService">
                            <tr>
                                <td class="center" data-bind="text: $index() + 1"></td>
                                <td data-bind="text: TenDichVu"></td>
                                <td data-bind="text: TenBacSy"></td>
                                <td data-bind="text: StartTime"></td>                                
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                        @*@Resources.Button_Close*@
                        Đóng
                    </button>                    
                </div>
            </div>
        </div>
    </div>
</div>

@section knockout{
    @*<script src="~/assets/plugins/moment/moment.js"></script>*@
    <script>
        var listEvents = @Html.Raw(ViewBag.ListEvents);
        var listService = @Html.Raw(ViewBag.ListService);
        //require(["../../Scripts/viewmodel/appointment-schedule/appointment-schedule.viewmodel"]);
    </script>
    @*@Scripts.Render("~/bundles/appointment-schedule")*@
}

