﻿@{
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
<audio id="main-audio">
    <source src="~/assets/files/Album nhac/FreeAsABird-OmarAkram_3zaqd_hq.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<div id="wrapper-video" style="position: absolute; z-index: 9999">
        <video width="100%" height="100%" id="ads-video" autoplay="">
            <source src="~/assets/files/VideoSotXuatHuyet_1.mp4" type="video/mp4">
        </video>
    </div>
@*<div id="wrapper-video" style="position: absolute; z-index: 9999"></div>*@
<div id="wrapper-content">
    <div id="quayThuocSlideShow" class="carousel slide" data-ride="carousel" data-interval="30000">
        <!-- Indicators -->
        @*<ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>*@
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/assets/images/SliderQuayThuoc/TVquaythuoc-01.jpg" alt="...">
                <div class="carousel-caption">
                    ...
                </div>
            </div>
            <div class="item">
                <img src="~/assets/images/SliderQuayThuoc/TVquaythuoc-02.jpg" alt="...">
                <div class="carousel-caption">
                    ...
                </div>
            </div>
            <div class="item">
                <img src="~/assets/images/SliderQuayThuoc/TVquaythuoc-03.jpg" alt="...">
                <div class="carousel-caption">
                    ...
                </div>
            </div>
            <div class="item">
                <img src="~/assets/images/SliderQuayThuoc/TVquaythuoc-04.jpg" alt="...">
                <div class="carousel-caption">
                    ...
                </div>
            </div>
            <div class="item">
                <img src="~/assets/images/SliderQuayThuoc/TVquaythuoc-05.jpg" alt="...">
                <div class="carousel-caption">
                    ...
                </div>
            </div>
            <div class="item">
                <img src="~/assets/images/SliderQuayThuoc/TVquaythuoc-06.jpg" alt="...">
                <div class="carousel-caption">
                    ...
                </div>
            </div>
        </div>
    </div>
    <!-- Controls -->
    @*<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>*@
</div>

@section knockout{
    <script src="~/Scripts/plugins/jwplayer.js"></script>
    <script>

        document.getElementById('ads-video').addEventListener('ended', onAdsVideoFinished, false);
        function onAdsVideoFinished(e) {
            // hidden video
            $("#wrapper-video").css("display", "none");
            $("#wrapper-content").css("display", "block");

            var time = 10 * 1000 * 60;
            setTimeout(function() {
                    window.location.reload();
                },
                time);

            document.getElementById("main-audio").play();
            $('#quayThuocSlideShow').carousel({
                interval: 30000
            });
        }

        $(function () {
            // hidden video
            $("#wrapper-video").css("display", "block");
            $("#wrapper-content").css("display", "none");            
            //jwplayer("wrapper-video").setup({
            //    "file": "/assets/files/VideoSotXuatHuyet_1.mp4",
            //    "height": "100%",
            //    "width": "100%",
            //    "autostart": true,
            //    events: {
            //        onComplete: function() {
            //            onAdsVideoFinished();
            //        }
            //    }
            //});
            //jwplayer().onDisplayClick(function () { jwplayer().setFullscreen(true); });
        });
    </script>
}