$main-color: #3498db;

body.theme-blue {
    background-color: #26344B;

    &.page-boxed {
        background-color: #C0C6C2;
    }

    /* Cubic Bezier Transition */
    /***********
        Page Header
        ***********/
    /* Header search bar, toggler logic & top menu */
    .page-header.navbar {
        /* Top notification menu/bar */
        /* Header seaech box */
    }

    .page-header.navbar .page-logo {
        background: $main-color;
    }

    .page-header.navbar .page-top {
        box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.2);
        background: #ffffff;
    }

    .page-header.navbar .top-menu .navbar-nav {
        /* Extended Dropdowns */
        /* Notification */
        /* Inbox */
        /* Tasks */
        /* User */
        /* Language */
        /* Dark version */
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover {
        background-color: #f9fafc;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle > i {
        color: #C0CDDC;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle .badge.badge-default {
        background-color: $main-color;
        color: #ffffff;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle {
        background-color: #f9fafc;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu:before {
        border-bottom-color: #e4e8ee;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu {
        border: 1px solid #e4e8ee;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu:before {
        border-bottom-color: #d4dae4;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu:after {
        border-bottom-color: #eaedf2;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external {
        background: #eaedf2;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > h3 {
        color: #62878f;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > a {
        color: #337ab7;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > a:hover {
        color: #23527c;
        text-decoration: none;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a {
        border-bottom: 1px solid #EFF2F6 !important;
        color: #888888;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a:hover {
        background: #f8f9fa;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li > a .time {
        background: #f1f1f1;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li > a:hover .time {
        background: #e4e4e4;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox > .dropdown-toggle > .circle {
        background-color: $main-color;
        color: #ffffff;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox > .dropdown-toggle > .corner {
        border-color: transparent transparent transparent $main-color;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox .dropdown-menu .dropdown-menu-list .subject .from {
        color: #5b9bd1;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-tasks .dropdown-menu .dropdown-menu-list .progress {
        background-color: #dfe2e9;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username {
        color: #7f96ac;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > i {
        color: #7f96ac;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-menu {
        width: 195px;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-language > .dropdown-toggle > .langname {
        color: #7f96ac;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu {
        background: #374b6d;
        border: 0;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu:after {
        border-bottom-color: #374b6d;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu > li.external {
        background: #293952;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu > li.external > h3 {
        color: #a8b8d3;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu > li.external > a:hover {
        color: #5496cf;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a,
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a {
        color: #b8c6db;
        border-bottom: 1px solid #415a81 !important;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a > i,
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a > i {
        color: #97aaca;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a:hover,
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a:hover {
        background: #3e557a;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a {
        border-bottom: 0 !important;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li.divider {
        background: #415a81;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification.dropdown-dark .dropdown-menu .dropdown-menu-list > li > a .time {
        background: #2f405c;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification.dropdown-dark .dropdown-menu .dropdown-menu-list > li > a:hover .time {
        background: #26344b;
    }

    .page-header.navbar .search-form {
        background: #fff;
    }

    .page-header.navbar .search-form .input-group .form-control {
        color: #7f96ac;
    }

    .page-header.navbar .search-form .input-group .form-control::-moz-placeholder {
        color: #7c94aa;
        opacity: 1;
    }

    .page-header.navbar .search-form .input-group .form-control:-ms-input-placeholder {
        color: #7c94aa;
    }

    .page-header.navbar .search-form .input-group .form-control::-webkit-input-placeholder {
        color: #7c94aa;
    }

    .page-header.navbar .search-form .input-group .input-group-btn .btn.submit > i {
        color: #7f96ac;
    }

    /* Page sidebar */
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover,
    .page-sidebar {
        background-color: #26344B;
        /* Default sidebar */
    }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu,
    .page-sidebar .page-sidebar-menu {
        /* 1st level links */
        /* All links */
    }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a,
    .page-sidebar .page-sidebar-menu > li > a {
        border-top: 1px solid #2b3b55;
        color: #c3cee0;
    }

    @media (max-width: 991px) {
        .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a,
        .page-sidebar .page-sidebar-menu > li > a {
            /* 991px */
            border-top: 1px solid #344766;
        }
    }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i,
    .page-sidebar .page-sidebar-menu > li > a > i {
        color: #43516c;
    }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class^="icon-"],
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class*="icon-"],
    .page-sidebar .page-sidebar-menu > li > a > i[class^="icon-"],
    .page-sidebar .page-sidebar-menu > li > a > i[class*="icon-"] {
        color: #4d5d7c;
    }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu > li > a > .arrow:before,
    .page-sidebar .page-sidebar-menu > li > a > .arrow.open:before {
        color: #3b5074;
    }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a,
    .page-sidebar .page-sidebar-menu > li:hover > a,
    .page-sidebar .page-sidebar-menu > li.open > a {
        background: #212d41;
        color: #e4e9f2;
    }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > i,
    .page-sidebar .page-sidebar-menu > li:hover > a > i,
    .page-sidebar .page-sidebar-menu > li.open > a > i {
        color: #4d5d7c;
    }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu > li:hover > a > .arrow:before,
    .page-sidebar .page-sidebar-menu > li:hover > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu > li.open > a > .arrow:before,
    .page-sidebar .page-sidebar-menu > li.open > a > .arrow.open:before {
        color: #4d5d7c;
    }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a,
    .page-sidebar .page-sidebar-menu > li.active > a,
    .page-sidebar .page-sidebar-menu > li.active.open > a {
        background: #1f2b3d;
        color: white;
    }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a:hover,
    .page-sidebar .page-sidebar-menu > li.active > a:hover,
    .page-sidebar .page-sidebar-menu > li.active.open > a:hover {
        background: #232f44;
    }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > i,
    .page-sidebar .page-sidebar-menu > li.active > a > i,
    .page-sidebar .page-sidebar-menu > li.active.open > a > i {
        color: #18cdc4;
    }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu > li.active > a > .arrow:before,
    .page-sidebar .page-sidebar-menu > li.active > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu > li.active.open > a > .arrow:before,
    .page-sidebar .page-sidebar-menu > li.active.open > a > .arrow.open:before {
        color: whitesmoke;
    }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:last-child > a,
    .page-sidebar .page-sidebar-menu > li:last-child > a {
        border-bottom: 1px solid transparent !important;
    }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu li > a > .arrow:before,
    .page-sidebar .page-sidebar-menu li > a > .arrow.open:before {
        color: #3b5074;
    }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu li:hover > a > .arrow:before,
    .page-sidebar .page-sidebar-menu li:hover > a > .arrow.open:before {
        color: #4d5d7c;
    }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu li.active > a > .arrow:before,
    .page-sidebar .page-sidebar-menu li.active > a > .arrow.open:before {
        color: whitesmoke;
    }

    .page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu:hover .sub-menu, .page-sidebar-closed
    .page-sidebar .page-sidebar-menu:hover .sub-menu {
        background: #1c2637;
    }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a,
    .page-sidebar .page-sidebar-menu .sub-menu > li > a {
        color: #b2c0d8;
    }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i,
    .page-sidebar .page-sidebar-menu .sub-menu > li > a > i {
        color: #516fa0;
    }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i[class^="icon-"],
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i[class*="icon-"],
    .page-sidebar .page-sidebar-menu .sub-menu > li > a > i[class^="icon-"],
    .page-sidebar .page-sidebar-menu .sub-menu > li > a > i[class*="icon-"] {
        color: #5d7bad;
    }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu .sub-menu > li > a > .arrow:before,
    .page-sidebar .page-sidebar-menu .sub-menu > li > a > .arrow.open:before {
        color: #3b5074;
    }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a,
    .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a,
    .page-sidebar .page-sidebar-menu .sub-menu > li.open > a,
    .page-sidebar .page-sidebar-menu .sub-menu > li.active > a {
        background: #212d41 !important;
    }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > i,
    .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > i,
    .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > i,
    .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > i {
        color: #4d5d7c;
        color: #90a5c7;
    }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > .arrow:before,
    .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow:before,
    .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .arrow:before,
    .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .arrow.open:before {
        color: #4d5d7c;
    }

    /******
        Page Footer
        ******/
    .page-footer .page-footer-inner {
        color: #a1b2cf;
    }

    .page-footer-fixed .page-footer {
        background-color: #a5aea8;
    }

    .page-footer-fixed .page-footer .page-footer-inner {
        color: #121618;
    }

    .page-boxed .page-footer .page-footer-inner {
        color: #121618;
    }

    .page-footer-fixed .page-boxed .page-footer {
        background-color: #a5aea8;
    }

    @media (min-width: 992px) {
        /* 992px */
        /* Sidebar menu closed */
        .page-sidebar-menu.page-sidebar-menu-hover-submenu li:hover > .sub-menu {
            box-shadow: 5px 5px rgba(48, 48, 48, 0.2);
        }

        .page-sidebar-menu.page-sidebar-menu-closed > li:hover {
            box-shadow: 5px 5px rgba(48, 48, 48, 0.2);
        }

        .page-sidebar-menu.page-sidebar-menu-closed > li:hover > .sub-menu {
            box-shadow: 5px 5px rgba(48, 48, 48, 0.2);
        }

        /* Fixed Sidebar */
        .page-sidebar-fixed:not(.page-footer-fixed) .page-content {
            border-bottom: 0;
        }

        .page-sidebar-fixed:not(.page-footer-fixed) .page-footer {
            background-color: #eef1f5;
        }

        .page-sidebar-fixed:not(.page-footer-fixed) .page-footer .page-footer-inner {
            color: #333;
        }

        /* Boxed Layout */
        .page-boxed {
            background-color: #b8bfba !important;
            /* Page container */
        }

        .page-boxed .page-container {
            background-color: #26344B;
        }

        .page-boxed.page-sidebar-reversed .page-container {
            border-left: 0;
        }

        .page-boxed.page-sidebar-fixed .page-container {
            border-left: 0;
            border-bottom: 0;
        }

        .page-boxed.page-sidebar-reversed.page-sidebar-fixed .page-container {
            border-left: 0;
            border-right: 0;
            border-bottom: 0;
        }

        /* Sidebar Menu Wirh Hoverable Submenu */
        .page-sidebar-menu-hover-submenu li:hover a > .arrow {
            border-right: 8px solid #1c2637;
        }

        .page-sidebar-reversed .page-sidebar-menu-hover-submenu li:hover a > .arrow {
            border-left: 8px solid #1c2637;
        }

        .page-sidebar-menu-hover-submenu li:hover > .sub-menu {
            background: #1c2637 !important;
        }
    }

    @media (max-width: 991px) {
        /* 991px */
        .page-container {
            background: #eef1f5;
        }

        .page-header.navbar {
            box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.2);
            padding: 0;
            /* Top menu */
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle:hover {
            background-color: #f6f7fa;
        }

        .page-header.navbar .page-top {
            box-shadow: none;
        }
    }

    @media (max-width: 767px) {
        /* 767px */
        .page-header.navbar {
            background: $main-color;
            /* Top menu */
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle:hover {
            background-color: #eff1f6;
        }
    }

    /****
     CSS3 Spinner Bar
    ****/
    .page-spinner-bar > div,
    .block-spinner-bar > div {
        background: #1adbd1;
    }

}

