﻿@{
    var listHotNews = ViewBag.ListHotNews as List<Clinic.DataAccess.News>;
}

<section class="hotnews cm-mgt-20 cm-pdb-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title-border">Tin nổi bật</h2>
                <div class="line"></div>

            </div>
        </div>
        <div class="row">
            @if (listHotNews != null && listHotNews.Any())
            {
                <div id="hotNewsSlider">
                    @foreach (var news in listHotNews)
                    {
                        <div class="news-item">
                            <div class="col-md-2 col-sm-4 news_thumb">
                                <div class="image">
                                    <img class="lazy" data-src="@Url.Action("Index", "ImageHandler", new { url = news.Image, width = 350, height = 350, type = 1 })" alt="@news.Title">
                                    <a class="overlay" href="@string.Format("/{0}.html", news.SeoLink)">
                                        <div class="overlay-inner text-center">
                                            <h4>@news.Title</h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-10 col-sm-8">
                                <h4 class="title bold">
                                    <a href="@string.Format("/{0}.html", news.SeoLink)">@news.Title</a>
                                </h4>
                                <ul class="option">
                                    <li>
                                        <i class="fa fa-calendar-o"></i>
                                        @news.CreateTime.ToString("dd/MM/yyyy hh:mm")
                                    </li>
                                    <li>
                                        <i class="fa fa-eye"></i>
                                        @news.ViewCount
                                    </li>
                                </ul>
                                <p>
                                    @news.Description
                                </p>
                            </div>
                            <div class="col-sm-12">
                                <hr />
                                <a href="@string.Format("/{0}.html", news.SeoLink)" class="read-more">Xem tiếp</a>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</section>