﻿@model LoginViewModel

<div class="login-container">
    <div class="login-overlay"></div>
    @if (Model.EnableLocalLogin)
    {
        
    <form class="login-form" asp-route="Login">
        <h4 class="title">Đăng nhập hệ thống</h4>
        <input type="hidden" asp-for="ReturnUrl" />
        <div class="form-group">
            <label asp-for="Username"></label>
            <input class="form-control" placeholder="Username" asp-for="Username" autofocus>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
        </div>

        @*@if (Model.AllowRememberLogin)
        {
            <div class="form-check">
                <input type="checkbox" asp-for="RememberLogin" class="form-check-input">
                <label asp-for="RememberLogin" class="form-check-label">Remember My Login</label>
            </div>
        }*@
        <div class="form-group ">
            <button class="btn-login"  value="login" name="button">
                Đăng nhập
            </button>
        </div>

        @if(!string.IsNullOrEmpty(ViewBag.UrlMessage))
        {
            <span class="help-block">
                @ViewBag.UrlMessage
            </span>
        }
        @*<div class="mt-4 mb-4">
            <button class="btn btn-primary" name="button" value="login">Login</button>
            <button class="btn btn-light" name="button" value="cancel">Cancel</button>
        </div>*@
    </form>
    }
</div>
